* {
  text-align: center;
  color: white;
}

html {
  background-color:  #002b36;
}

#codeBreaker {
  background-color: #657b83;
  float: right;
}

#codeMaker {
  background-color: #657b83;
  float: left;
}

#statField {
  background-color: #657b83;
  position: absolute;
  top: 80%;
  left: 80%;
  width: 100px;
}

#startButton {
  background-color: #657b83;
  position: relative;
  top: 200px;
  left: calc(50% - 50px);
  width: 100px;
}

#divTitle {
  background-color: #657b83;
}

.title {
  color: white;
}

.button {
  background-color: #3366ff;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px, 2px;
}
